<header
    class="flex absolute z-10 top-0 justify-between items-center px-4 py-2 max-w-7xl justify-self-center w-full"
>
    <a href="/" class="flex gap-x-4 items-center justify-start">
        <img
            src="/Logo.svg"
            alt="rhythm nation logo"
            width={64}
            height={64}
            class="w-16"
        />

    </a>
    <div class="justify-end">
        <a href="/feeling-blue">
            <p class="uppercase text-3xl text-blue-700">Feeling Blue</p>
        </a>
        <a href="/my-room">
            <p class="uppercase text-3xl text-fuchsia-600">My Room</p>
        </a>
        <a href="/waves">
            <p class="uppercase text-3xl text-indigo-200">Waves</p>
        </a>
    </div>

</header>